﻿<!DOCTYPE html>
<html lang="en">

<head>
    <title>HyProvider</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    @*<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="Dash Able bootstrap admin template suitable for any project backend need. It comes with lots of UI components, pages, plugins with easy to use well structured code." />
        <meta name="keywords" content="admin template, bootstrap admin template, bootstrap dashboard, admin theme, dashboard template, bootstrap dashboard template, bootstrap admin panel, dashboard theme, best admin template, dashboard theme, website templates, bootstrap 4 admin template" />
    *@
    <meta name="author" content="Olakunle David" />
    <!-- Favicon icon -->

    <link rel="icon" href="~/Content/files/assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/bootstrap/css/bootstrap.min.css">
    <!-- waves.css -->
    <link rel="stylesheet" href="~/Content/files/assets/pages/waves/css/waves.min.css" type="text/css" media="all">
    <!-- feather icon -->
    <link rel="stylesheet" type="text/css" href="~/Content/files/assets/icon/feather/css/feather.css">
    <!-- sweet alert framework -->
    <link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/sweetalert/css/sweetalert.css">
    <!-- font-awesome-n -->
    <link rel="stylesheet" type="text/css" href="~/Content/files/assets/css/font-awesome-n.min.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="~/Content/files/assets/icon/icofont/css/icofont.css">
    <!-- animation nifty modal window effects css -->
    <link rel="stylesheet" type="text/css" href="~/Content/files/assets/css/component.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/Content/files/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/files/assets/css/pages.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- notify js Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/pnotify/css/pnotify.css">
    <link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/pnotify/css/pnotify.brighttheme.css">
    <link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/pnotify/css/pnotify.buttons.css">
    <link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/pnotify/css/pnotify.history.css">
    <link rel="stylesheet" type="text/css" href="~/Content/files/bower_components/pnotify/css/pnotify.mobile.css">
    <link href="~/Content/files/assets/css/widget.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/files/assets/pages/pnotify/notify.css">
    <link href="~/Content/files/bower_components/intro.js/css/introjs.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.4.1/css/buttons.dataTables.min.css">
    <style>
        .text-c-dark {
            color: #333 !important;
        }

        strong {
            font-weight: bold;
        }

        .table td, .table th {
            padding: 0.5rem 0.75rem !important;
        }

        .regular-tb-padd td, .regular-tb-padd th {
            padding: 1.05rem 0.75rem !important;
        }

        .hide {
            display: none;
        }

        .card-min-410 {
            min-height: 410px;
        }

        .btn-smaller {
            height: 23px;
            padding: 3px 10px 3px 10px !important;
        }

        a.btn-danger, a.btn-primary, a.btn-info, a.btn-success, a.btn-outline-secondary:hover, a.btn-outline-primary:hover, a.btn-outline-danger:hover {
            color: #fff !important;
        }

        .nav li, .nav li a {
            border-radius: 3px 3px 0 0;
        }

            .nav li a {
                border: 1px solid #ccc;
                border-bottom: 0;
                padding: 15px 35px 15px 35px;
                display: inline-block;
            }

                .nav li a:hover {
                    color: #fff;
                }

            .nav li.active {
                background: #4fc3f7;
            }

                .nav li.active a {
                    border: 0;
                    color: #fff;
                }

        .tab-pane {
            padding: 10px;
        }

        .page {
            opacity: 1;
            animation-name: fadeInOpacity;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: .5s;
        }

        @@keyframes fadeInOpacity {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    </style>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<!-- Menu horizontal static layout -->

<body>
    
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <!-- [ Header ] start -->
            <nav class="navbar header-navbar pcoded-header" style="background: #fff;">
                <div class="navbar-wrapper">
                    <div class="navbar-logo" style="background: #fff;">
                        <a href="index.html">
                            <img class="img-fluid" style="width: 100px;" src="~/Content/Images/logo.png" alt="Theme-Logo" />
                        </a>
                        <a class="mobile-menu" id="mobile-collapse" href="#!" style="color: #000; text-transform: lowercase; margin-left: 10px;">
                            <i class="feather icon-menu"></i>&nbsp;Menu
                        </a>
                        <a class="mobile-options waves-effect waves-light">
                            <i class="feather icon-more-horizontal"></i>
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
                                    <i class="full-screen text-c-dark feather icon-maximize"></i>
                                </a>
                            </li>
                            <li class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-prepend search-close">
                                            <i class="feather icon-x input-group-text"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Search Member">
                                        <span class="input-group-append search-btn">
                                            <i style="color: #333 !important;" class="feather text-c-dark icon-search input-group-text"></i>
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            @*<li class="header-notification">
                                    <div class="dropdown-primary dropdown">
                                        <div class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="feather icon-bell text-c-dark"></i>
                                            <span class="badge bg-c-red">5</span>
                                        </div>
                                        <ul class="show-notification notification-view dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                            <li>
                                                <h6>Notifications</h6>
                                                <label class="label label-danger">New</label>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <img class="img-radius" src="~/Content/files/assets/images/avatar-4.jpg" alt="Generic placeholder image">
                                                    <div class="media-body">
                                                        <h5 class="notification-user">John Doe</h5>
                                                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                        <span class="notification-time">30 minutes ago</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <img class="img-radius" src="~/Content/files/assets/images/avatar-3.jpg" alt="Generic placeholder image">
                                                    <div class="media-body">
                                                        <h5 class="notification-user">Joseph William</h5>
                                                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                        <span class="notification-time">30 minutes ago</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <img class="img-radius" src="~/Content/files/assets/images/avatar-4.jpg" alt="Generic placeholder image">
                                                    <div class="media-body">
                                                        <h5 class="notification-user">Sara Soudein</h5>
                                                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                        <span class="notification-time">30 minutes ago</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="header-notification">
                                    <div class="dropdown-primary dropdown">
                                        <div class="displayChatbox dropdown-toggle" data-toggle="dropdown">
                                            <i class="feather icon-message-square text-c-dark"></i>
                                            <span class="badge bg-c-green">3</span>
                                        </div>
                                    </div>
                                </li>*@
                            <li class="user-profile header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon feather icon-settings text-c-dark"></i>
                                        <!-- <img src="~/Content/files/assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                                        <span>John Doe</span>
                                        <i class="feather icon-chevron-down"></i> -->
                                    </div>
                                    <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                        <li class="drp-u-details">
                                            <img src="~/Content/Images/default-avatar-sm.png" class="img-radius" alt="User-Profile-Image" />
                                            <span><small>@ViewBag.providerName</small></span>
                                            <a href="@Url.Action("LogOut", "Account")" class="dud-logout" title="Logout">
                                                <i class="feather icon-log-out"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="localStorage.removeItem('intro'); location.href = location.href;">
                                                <i class="feather icon-user text-c-dark"></i> Guided Tour
                                            </a>
                                        </li>
                                        @*

                                            <li>
                                                <a href="email-inbox.html">
                                                    <i class="feather icon-mail"></i> My Messages
                                                </a>
                                            </li>*@
                                        <li>
                                            <a href="index.html"data-target="#change-password" data-toggle="modal">
                                                <i class="feather icon-edit"></i> Change Password
                                            </a>
                                        </li>

                                        <li>
                                            <a href="@Url.Action("LogOut", "Account")">
                                                <i class="feather icon-log-out"></i> Logout
                                            </a>
                                        </li>


                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- [ chat user list ] start -->
            <div id="sidebar" class="users p-chat-user showChat">
                <div class="had-container">
                    <div class="p-fixed users-main">
                        <div class="user-box">
                            <div class="chat-search-box">
                                <a class="back_friendlist">
                                    <i class="feather icon-x"></i>
                                </a>
                                <div class="right-icon-control">
                                    <form class="form-material">
                                        <div class="form-group form-primary">
                                            <input type="text" name="footer-email" class="form-control" id="search-friends" required="">
                                            <span class="form-bar"></span>
                                            <label class="float-label">
                                                <i class="feather icon-search m-r-10"></i>Search Friend
                                            </label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="main-friend-list">
                                <div class="media userlist-box waves-effect waves-light" data-id="1" data-status="online" data-username="Josephin Doe">
                                    <a class="media-left" href="#!">
                                        <img class="media-object img-radius img-radius" src="~/Content/files/assets/images/avatar-3.jpg" alt="Generic placeholder image ">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="chat-header">Chat with an Agent</div>
                                    </div>
                                </div>
                                <div class="media userlist-box waves-effect waves-light" data-id="2" data-status="online" data-username="Lary Doe">
                                    <a class="media-left" href="#!">
                                        <img class="media-object img-radius" src="~/Content/files/assets/images/avatar-2.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="f-13 chat-header">Lary Doe</div>
                                    </div>
                                </div>
                                <div class="media userlist-box waves-effect waves-light" data-id="3" data-status="online" data-username="Alice">
                                    <a class="media-left" href="#!">
                                        <img class="media-object img-radius" src="~/Content/files/assets/images/avatar-4.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="f-13 chat-header">Alice</div>
                                    </div>
                                </div>
                                <div class="media userlist-box waves-effect waves-light" data-id="4" data-status="offline" data-username="Alia">
                                    <a class="media-left" href="#!">
                                        <img class="media-object img-radius" src="~/Content/files/assets/images/avatar-3.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-default"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="f-13 chat-header">Alia<small class="d-block text-muted">10 min ago</small></div>
                                    </div>
                                </div>
                                <div class="media userlist-box waves-effect waves-light" data-id="5" data-status="offline" data-username="Suzen">
                                    <a class="media-left" href="#!">
                                        <img class="media-object img-radius" src="~/Content/files/assets/images/avatar-2.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-default"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="f-13 chat-header">Suzen<small class="d-block text-muted">15 min ago</small></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ chat user list ] end -->
            <!-- [ chat message ] start -->
            <div class="showChat_inner">
                <div class="media chat-inner-header">
                    <a class="back_chatBox">
                        <i class="feather icon-x"></i> Chat With An Agent
                    </a>
                </div>
                <div class="main-friend-chat">
                    @*<div class="media chat-messages">
                            <a class="media-left photo-table" href="#!">
                                <img class="media-object img-radius img-radius m-t-5" src="~/Content/files/assets/images/avatar-2.jpg" alt="Generic placeholder image">
                            </a>
                            <div class="media-body chat-menu-content">
                                <div class="">
                                    <p class="chat-cont">I'm just looking around. Will you tell me something about yourself?</p>
                                </div>
                                <p class="chat-time">8:20 a.m.</p>
                            </div>
                        </div>
                        <div class="media chat-messages">
                            <div class="media-body chat-menu-reply">
                                <div class="">
                                    <p class="chat-cont">Ohh! very nice</p>
                                </div>
                                <p class="chat-time">8:22 a.m.</p>
                            </div>
                        </div>
                        <div class="media chat-messages">
                            <a class="media-left photo-table" href="#!">
                                <img class="media-object img-radius img-radius m-t-5" src="~/Content/files/assets/images/avatar-2.jpg" alt="Generic placeholder image">
                            </a>
                            <div class="media-body chat-menu-content">
                                <div class="">
                                    <p class="chat-cont">can you come with me?</p>
                                </div>
                                <p class="chat-time">8:20 a.m.</p>
                            </div>
                        </div>
                        <div class="media chat-messages">
                            <div class="media-body chat-menu-reply">
                                <div class="">
                                    <p class="chat-cont">Ohh! very nice again</p>
                                </div>
                                <p class="chat-time">8:22 a.m.</p>
                            </div>
                        </div>*@
                </div>
                <div class="chat-reply-box">
                    <div class="right-icon-control">
                        <form class="form-material">
                            <div class="form-group form-primary">
                                <textarea type="text" name="chat-text" id="chat-text" style="height: 80px;width: 88%;" class="form-control" required=""></textarea>
                                <span class="form-bar"></span>
                                <label class="float-label">
                                    <i class="feather icon-search m-r-10"></i>Type here to chat
                                </label>
                            </div>
                        </form>
                        <div class="form-icon" style="bottom: 20px; right: -12px;">
                            <button class="btn btn-success btn-icon  waves-effect waves-light send-message">
                                <i class="feather icon-message-circle"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ chat message ] end -->
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">

                    <!-- [ navigation menu ] start -->
                    <nav class="pcoded-navbar">
                        <div class="pcoded-inner-navbar">
                            <ul class="pcoded-item">
                                <li class="">
                                    <a href="javascript:void(0)" class="waves-effect waves-dark page-nav" data-id="member-administration">
                                        <span class="pcoded-micon"><i class="icofont icofont-brand-live-messenger"></i></span>
                                        <span class="pcoded-mtext">Member Administration</span>
                                    </a>
                                </li>
                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)" class="waves-effect waves-dark" data-id="billing">
                                        <span class="pcoded-micon"><i class="feather icon-credit-card"></i></span>
                                        <span class="pcoded-mtext">Billing</span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class="">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark page-nav" data-id="no-auth">
                                                <span class="pcoded-mtext">Check-in Functions</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark page-nav" data-id="pre-auth">
                                                <span class="pcoded-mtext">Pre-Auth</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark page-nav" data-id="exclusions">
                                                <span class="pcoded-mtext">Exclusions</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="pcoded-hasmenu">
                                    <a class="waves-effect waves-dark" data-id="reports" data-toggle="modal" data-target="#pa-lookup-modal">
                                        <span class="pcoded-micon"><i class="feather icon-search"></i></span>
                                        <span class="pcoded-mtext">PA Lookup</span>
                                    </a>
                                </li>
                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)" class="waves-effect waves-dark page-nav" data-id="reports">
                                        <span class="pcoded-micon"><i class="feather icon-list"></i></span>
                                        <span class="pcoded-mtext">Reports</span>
                                    </a>
                                </li>
                                <li class="pcoded-hasmenu">
                                    <a href="@Url.Action("FAQs", "Index")" class="waves-effect waves-dark page-nav" target="_blank">
                                        <span class="pcoded-micon"><i class="feather icon-book"></i></span>
                                        <span class="pcoded-mtext">FAQs</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- [ navigation menu ] end -->
                    <div class="pcoded-content-fluid">
                        <!-- [ breadcrumb ] start -->
                        @RenderBody()

                    </div>
                    <!-- [ style Customizer ] start -->
                    <div id="styleSelector">
                    </div>
                    <!-- [ style Customizer ] end -->
                </div>
            </div>
        </div>
    </div>

    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 10]>
    <div class="ie-warning">
        <h1>Warning!!</h1>
        <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
        <div class="iew-container">
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="~/Content/files/assets/images/browser/chrome.png" alt="Chrome">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="~/Content/files/assets/images/browser/firefox.png" alt="Firefox">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="~/Content/files/assets/images/browser/opera.png" alt="Opera">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="~/Content/files/assets/images/browser/safari.png" alt="Safari">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="~/Content/files/assets/images/browser/ie.png" alt="">
                        <div>IE (9 & above)</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>Sorry for the inconvenience!</p>
    </div>
    <![endif]-->
    <!-- Warning Section Ends -->
    <!-- Required Jquery -->
    <script type="text/javascript" src="~/Content/files/bower_components/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/files/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Content/files/bower_components/popper.js/js/popper.min.js"></script>
    <script type="text/javascript" src="~/Content/files/bower_components/bootstrap/js/bootstrap.min.js"></script>
    @*<script type="text/javascript" src="~/Content/files/assets/js/pace.min.js"></script>*@
    <!-- waves js -->
    <script src="~/Content/files/assets/pages/waves/js/waves.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/Content/files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>

    <script type="text/javascript" src="~/Content/files/bower_components/modernizr/js/modernizr.js"></script>
    <script type="text/javascript" src="~/Content/files/bower_components/modernizr/js/css-scrollbars.js"></script>

    <script type="text/javascript" src="~/Content/files/bower_components/sweetalert/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="~/Scripts/modal.js"></script>

    <script src="~/Content/files/assets/js/classie.js"></script>
    <script type="text/javascript" src="~/Content/files/assets/js/modalEffects.js"></script>

    <!-- pnotify js -->
    <script type="text/javascript" src="~/Content/files/bower_components/pnotify/js/pnotify.js"></script>
    <script type="text/javascript" src="~/Content/files/bower_components/pnotify/js/pnotify.desktop.js"></script>
    <script type="text/javascript" src="~/Content/files/bower_components/pnotify/js/pnotify.buttons.js"></script>
    <script type="text/javascript" src="~/Content/files/bower_components/pnotify/js/pnotify.confirm.js"></script>
    <script type="text/javascript" src="~/Content/files/bower_components/pnotify/js/pnotify.callbacks.js"></script>
    <script type="text/javascript" src="~/Content/files/bower_components/pnotify/js/pnotify.animate.js"></script>
    <script type="text/javascript" src="~/Content/files/bower_components/pnotify/js/pnotify.history.js"></script>
    <script type="text/javascript" src="~/Content/files/bower_components/pnotify/js/pnotify.mobile.js"></script>
    <script type="text/javascript" src="~/Content/files/bower_components/pnotify/js/pnotify.nonblock.js"></script>
    <script type="text/javascript" src="~/Content/files/assets/pages/pnotify/notify.js"></script>

    <script type="text/javascript" src="~/Content/files/assets/pages/accordion/accordion.js"></script>
    <!-- Float Chart js -->
    <script src="~/Content/files/assets/pages/chart/float/jquery.flot.js"></script>
    <script src="~/Content/files/assets/pages/chart/float/jquery.flot.categories.js"></script>
    <script src="~/Content/files/assets/pages/chart/float/curvedLines.js"></script>
    <script src="~/Content/files/assets/pages/chart/float/jquery.flot.tooltip.min.js"></script>
    <!-- amchart js -->
    <script src="~/Content/files/assets/pages/widget/amchart/amcharts.js"></script>
    <script src="~/Content/files/assets/pages/widget/amchart/serial.js"></script>
    <script src="~/Content/files/assets/pages/widget/amchart/light.js"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Custom js -->
    <script src="~/Content/files/bower_components/intro.js/js/intro.min.js"></script>
    <script src="~/Content/files/assets/js/pcoded.min.js"></script>
    <script src="~/Content/files/assets/js/vertical/horizontal-layout.min.js"></script>
    <script type="text/javascript" src="~/Content/files/assets/pages/dashboard/custom-dashboard.min.js"></script>
    <script type="text/javascript" src="~/Content/files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
    <script type="text/javascript" src="~/Content/files/assets/pages/widget/widget-statistic.min.js"></script>
    <script type="text/javascript" src="~/Content/files/assets/js/script.js"></script>

    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.print.min.js"></script>
   

    <script src="https://www.google.com/recaptcha/api.js?render=6LeiPI8UAAAAAFlmOxgqcjKSqI5QJGu2IR8F_ZKf"></script>
    @RenderSection("scripts", required: false)

    <script>
        $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
        __ProgressNotificationComplete = false;
        function POSTToServer(_URL, data, success, error) {
            $.ajax({
                type: 'POST',
                url: _URL,
                data: data,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: success,
                error: error
            });
        }
        function POSTToServer2(URL, data, success, error) {
            $.post(URL, data).done(success).fail(error);
        }
        function NotifyInfo(title, message) {
            __ProgressNotificationComplete = false;
            var percent = 0;
            var notice = new PNotify({
                text: "Please wait",
                addclass: 'bg-primary',
                type: 'info',
                icon: 'icon-spinner4 spinner',
                hide: false,
                buttons: {
                    closer: false,
                    sticker: false
                },
                opacity: .9,
                width: "170px"
            });

            setTimeout(function () {
                notice.update({
                    title: false
                });
                var interval = setInterval(function () {

                    if (percent < 100)
                        percent += 2;

                    var options = {
                        text: percent + "% complete."
                    };
                    if (percent == 80) options.title = "Almost There";
                    if (percent >= 100 && __ProgressNotificationComplete === true) {
                        window.clearInterval(interval);
                        options.title = "Done!";
                        options.addclass = "bg-success";
                        options.type = "info";
                        options.hide = true;
                        options.buttons = {
                            closer: true,
                            sticker: true
                        };
                        options.icon = 'icon-checkmark3';
                        options.opacity = 1;
                        options.width = PNotify.prototype.options.width;
                    }
                    notice.update(options);
                }, 120);
            }, 2000);
        }
        function NotifyDanger(title, message) {
            setTimeout(function () {

                __ProgressNotificationComplete = true;

                new PNotify({
                    title: title,
                    text: message,
                    icon: 'fas fa-exclamation-circle f-20',
                    type: 'error'
                });
            }, 10);
        }
        function NotifySuccess(title, message, hide) {
            setTimeout(function () {

                __ProgressNotificationComplete = true;

                new PNotify({
                    title: title,
                    text: message,
                    icon: 'fas fa-check-circle f-20',
                    hide: ((hide === undefined) ? true : hide),
                    type: 'success'
                });
            }, 10);
        }
        function NotifyWarning(title, message) {
            setTimeout(function () {

                __ProgressNotificationComplete = true;

                new PNotify({
                    title: title,
                    text: message,
                    icon: 'fas fa-info f-20',
                    type: 'warning'
                });
            }, 10);
        }
        function validateEmail(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        }
        function FormatMoney(n) {
            try {
                n = parseFloat(n).toFixed(2);
                return '₦ ' + Number(n).toLocaleString('en');
            } catch (e) {
                return n;
            }
        }

        function RetakeTour() {
            localStorage.removeItem('intro');
            location.href = location.href;
        }


        

                //$(function () {

                //    $("#passwordchange").validate({
                //        rules: {
                //            oldpassword: {
                //                required: true,
                //                minlength: 8
                //            },
                //            newpassword: {
                //                required: true,
                //                minlength: 8
                //            },
                //            confirmnewpass: {
                //                required: true,
                //                minlength: 8
                //            },
                //            action: "required"
                //        },
                //        messages: {
                //            oldpassword: {
                //                required: "Please enter some data",
                //                minlength: "Your data must be at least 8 characters"
                //            },
                //            newpassword: {
                //                required: "Please enter some data",
                //                minlength: "Your data must be at least 8 characters"
                //            },
                //            confirmnewpass: {
                //                required: "Please enter some data",
                //                minlength: "Your data must be at least 8 characters"
                //            },
                //            action: "Please provide some data"
                //        }
                //    });
                //});
    </script>

</body>

</html>
