﻿@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "_EmptyLayout.cshtml";
    ViewBag.Title = "HyAdmin Maintenance";
}

<div class="content-box">
    <div class="big-content">
        <!-- Main squares for the content logo in the background -->
        <div class="list-square">
            <span class="square"></span>
            <span class="square"></span>
            <span class="square"></span>
        </div>
        <!-- Main lines for the content logo in the background -->
        <div class="list-line">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
        <!-- The animated searching tool -->
        <i class="fa fa-search" aria-hidden="true"></i>
        <!-- div clearing the float -->
        <div class="clear"></div>
    </div>
    <!-- Your text -->
    <h1>Sorry, this site is currently under maintenance</h1>
    <p>
        We pologize for the delay.<br />
        This page will be available soon
    </p>
</div>

