﻿@using HyAdmin.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Auth.cshtml";
}
<!-- Container-fluid starts -->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <!-- Authentication card start -->
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "md-float-material form-material m-t-40 m-b-40", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="auth-box card">
                    <div class="card-block">
                        <div class="row m-b-20">
                            <div class="col-md-12">
                                <h3 class="text-center">Sign In</h3>
                            </div>
                        </div>

                        <style>
                            .validation-summary-errors {
                                position: relative;
                                top: -20px;
                            }
                        </style>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group form-primary">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required = "", autocomplete = "false" })
                            <span class="form-bar"></span>
                            <label class="float-label">User ID</label>
                        </div>
                        <div class="form-group form-primary">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "", autocomplete = "false" })
                            <span class="form-bar"></span>
                            <label class="float-label">Password</label>
                        </div>
                        <div class="row m-t-25 text-left">
                            <div class="col-12">
                                <div class="checkbox-fade fade-in-primary d-">
                                    <label>
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        <span class="cr"><i class="cr-icon fas fa-check txt-primary"></i></span>
                                        <span class="text-inverse">Remember me</span>
                                    </label>
                                </div>
                                <div class="forgot-phone text-right float-right">
                                    @*<a href="auth-reset-password.html" class="text-right f-w-600"> Forgot Password?</a>*@
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-30">
                            <div class="col-md-12">
                                <input type="submit" value="Sign in" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20 log-action" data-action="Login" data-content="Provider is trying to login" data-trigger="Email" />
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-10">
                                <p class="text-inverse text-left m-b-0">Thank you.</p>
                            </div>
                            <div class="col-md-2">
                                <img src="~/Content/files/assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- Authentication card end -->
        </div>
        <!-- end of col-sm-12 -->
        <input id="UserIp" class="hide" value="@ViewBag.UserIp" />
        <input id="MacAddress" class="hide" value="@ViewBag.MacAddress" />
    </div>
    <!-- end of row -->
</div>
@section scripts {
<script>
    $(function () {

        $('.log-action').click(function () {
            var id = '#' + $(this).data('trigger');
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "https://online.hygeiahmo.com/hygeiaapiservice/api/Audit/LogAction",
                "method": "POST",
                "headers": {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "PTkn": "295fd65e-07a4-4ba4-b44a-00418eceff3b"
                },
                "data": {
                    "Action": $(this).data('action'),
                    "Description": $(this).data('content'),
                    "TimeStamp": (new Date()).getTime(),
                    "UserId": $(id).val(),
                    "UserType": "Provider",
                    "UserIp": $("#UserIp").val(),
                    "MacAddress": $("#MacAddress").val()
                }
            }

            $.ajax(settings).done(function (response) {
                console.log(response);
                location.href = "https://online.hygeiahmo.com/hyprovider/";
            });
        });
    });
</script>
}