﻿
@{
    ViewBag.Title = "HyAdmin | Dashboard| Sales";
    Layout = "~/Views/Shared/_Semi.cshtml";
}

<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h4 class="m-b-10 page-title">Dashboard</h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#!">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Member Administration</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- [ breadcrumb ] end -->

<style>
    .pull-right {
        float: right !important;
    }

    .empty-notification {
        padding: 42px;
        font-weight: lighter;
        font-size: 34px;
    }

    .card .card-block .dropdown-menu > a {
        padding: 4px 7px;
        line-height: 1.429;
    }

    .link-text {
        cursor: pointer;
        font-weight: 600;
        font-size: 12px;
    }

    #category_data tr td {
        padding-bottom: 11px !important;
    }

    .btn-sm {
        padding: 9px;
    }
</style>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formUrl" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <!-- statustic card start -->
                        <div class="col-xl-3 col-md-6">
                            <div class="card">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col-auto p-r-0">
                                            <i class="far fa-comment text-c-yellow f-24"></i>
                                        </div>
                                        <div class="col text-right">
                                            <h5 class="text-c-yellow m-b-0">1908</h5>
                                            <p class="m-b-0">Messages</p>
                                        </div>
                                    </div>
                                    <p class="b-t-default m-b-0 p-t-10 m-t-20"><i class="far fa-calendar-alt m-r-10"></i>Last Week</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col-auto p-r-0">
                                            <i class="far fa-building text-c-red f-24"></i>
                                        </div>
                                        <div class="col text-right">
                                            <h5 class="text-c-red m-b-0">$ 23,098</h5>
                                            <p class="m-b-0">Deposit</p>
                                        </div>
                                    </div>
                                    <p class="b-t-default m-b-0 p-t-10 m-t-20"><i class="fas fa-sync-alt m-r-10"></i>Update Now</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col-auto p-r-0">
                                            <i class="far fa-money-bill-alt text-c-green f-24"></i>
                                        </div>
                                        <div class="col text-right">
                                            <h5 class="text-c-green m-b-0">$ 3,198</h5>
                                            <p class="m-b-0">Revenue</p>
                                        </div>
                                    </div>
                                    <p class="b-t-default m-b-0 p-t-10 m-t-20"><i class="fas fa-sync-alt m-r-10"></i>Update Now</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col-auto p-r-0">
                                            <i class="fas fa-users text-c-blue f-24"></i>
                                        </div>
                                        <div class="col text-right">
                                            <h5 class="text-c-blue m-b-0">1348</h5>
                                            <p class="m-b-0">Customers</p>
                                        </div>
                                    </div>
                                    <p class="b-t-default m-b-0 p-t-10 m-t-20"><i class="far fa-calendar-alt m-r-10"></i>Last Week</p>
                                </div>
                            </div>
                        </div>
                        <!-- statustic card end -->
                    </div>
                    <br />

                    <div class="page-holder">
                        <h2>WebSocket Test</h2>
                    </div>

                    <div>
                        <h4>Connection Requests</h4>
                        <ul id="requests"></ul>
                    </div>

                    <div id="text">
                        <form>
                            Message To
                            <input type="text" id="messageTo" size="10" />
                            <input type="text" id="msg" size="50" />
                            <input type="button" class="btn btn-sm btn-primary wave" id="broadcast" value="Broadcast Message" />
                        </form>

                        <ul id="messages">
                        </ul>
                    </div>

                    <div class="member-administration"></div>
                    <div class="billing"></div>
                    <div class="lookup"></div>
                    <div class="reports"></div>
                }
            </div>
        </div>
    </div>

    <div id="links" class="hide">

    </div>
    <style>
        #messages, #requests {
            width: 240px;
            max-height: 200px;
            overflow: auto;
            padding-bottom: 30px;
        }
        li.label{
            margin-top: 5px;
            display: block;
        }
    </style>
</div>


@section scripts{
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script>
        "use strict";
        var pickedRequests = [];
        var username = prompt("Please provide a username");
        //$.cookie('username', username);

        var host = "ws://localhost:22617/Sockets/SocketHandler.ashx?username=" + username;
        var connection = new WebSocket(host);

        JoinServer();

        function JoinServer() {
            connection.onmessage = function (message) {
                var data = window.JSON.parse(message.data);
                
                if (data.value.indexOf("requesting a connection") !== -1 && data.from !== username) {
                    $('.' + data.from).remove();
                    $("<li />").html(data.value + "<a href='javascript:void(0)' onclick='PickRequest(\"" + data.from + "\")'>Pick</a>").appendTo($("#requests"))
                        .addClass("label label-success " + data.from);
                    pickedRequests.push(data.from);
                    return;
                }
                else if (data.value.indexOf("has been terminated") !== -1) {
                    $('.' + data.from).remove();
                    $("<li />").html(data.value).appendTo($("#requests")).addClass("label label-danger " + data.from);
                    return;
                }

                if (pickedRequests.indexOf(data.from) !== -1)
                    $("<li />").html("[" + data.from + "]:&nbsp;" + data.value).appendTo($("#messages"));
            }
        }

        function PickRequest(to) {
            $("#messageTo").val(to)
            connection.send(window.JSON.stringify({ type: 2, To: to, value: "Hi my name is " + username + ", how may I be of assistance?" }));
        }

        $('#broadcast').click(function () {
            connection.send(window.JSON.stringify({ type: 1, To: $('#messageTo').val(), value: $("#msg").val() }));
        });
    </script>




    <script>

        function GetDashData() {
            var benefitProceduresURL = $('#benefitProceduresURL').data('url');
            var benefitCodeId = parseInt($('#benefits').val());
            var timePeriodId = parseInt($('#time_periods').val());

            var planId = $('#plans').val();
            if (benefitCodeId == -1) {
                alert('Select a benefit');
                return;
            }
            if (planId == -1) {
                alert('Select a plan');
                return;
            }
            if (timePeriodId == -1) {
                alert('Select a time period');
                return;
            }


            $T1 = $('#existing_procedures');
            try {
                $T1.DataTable().clear();
                $T1.DataTable().destroy();
            } catch (e) { console.log(e); }

            $T2 = $('#non_added_procedures');
            try {
                $T2.DataTable().clear();
                $T2.DataTable().destroy();
            } catch (e) { console.log(e); }

            $.getJSON(benefitProceduresURL + "?benefitCodeId=" + benefitCodeId + "&planId=" + planId + "&timePeriodId=" + timePeriodId, function (data) {
                data = $.parseJSON(data.Result);
                existing = data.existing;
                nonSetup = data.nonSetup;

                var existing_procedures = '';
                for (var i = 0; i < existing.length; i++) {
                    $('#benefit_name').text($("#benefits option:selected").text());
                    existing_procedures += "<tr><td>" + existing[i].procedureCode + "</td><td>" + existing[i].procedureDesc +
                        "</td><td><input type='checkbox' id='ex_" + existing[i].procedureCode + "' class='ex switch' checked /></td></tr>";
                }
                $('#existing_procedures tbody').html(existing_procedures);

                var non_added_procedures = '';
                for (var i = 0; i < nonSetup.length; i++) {
                    non_added_procedures += "<tr><td>" + nonSetup[i].procedurecode + "</td><td>" + nonSetup[i].proceduredesc +
                        "</td><td><input type='checkbox' id='nex_" + nonSetup[i].procedurecode + "' class='nex switch' /></td></tr>";
                }
                $('#non_added_procedures tbody').html(non_added_procedures);

                $('#ctrl-ex').html('<input type="checkbox" id="ctrl_existing_procedures" class="ctrl-ex switch" checked />')
                $('#ctrl-nex').html('<input type="checkbox" id="ctrl_non_added_procedures" class="ctrl-nex switch" />')

                $('.switch').each(function () {
                    var switchery = new Switchery(this, { color: '#4099ff', jackColor: '#fff' });
                });

                setTimeout(function () {
                    try {
                        $T1 = $('#existing_procedures');
                        $T1.DataTable({
                            buttons: [
                                {
                                    extend: 'print',
                                    title: 'Report   ',
                                    //text: '<i class="fa fa-print"></i> Print',
                                    //title: $('h1').text(),
                                    exportOptions: {
                                        //columns: ':not(.no-print)'
                                        columns: ':visible', stripNewlines: true
                                    },

                                    orientation: 'landscape',
                                    pageSize: 'C2',
                                    footer: false
                                },
                                {
                                    extend: 'excelHtml5', title: 'Report', footer: true, exportOptions: {
                                        columns: ':visible', stripNewlines: false
                                    },
                                    orientation: 'landscape',
                                    pageSize: 'LEGAL',
                                },
                                {
                                    extend: 'pdfHtml5', title: 'Report',
                                    columns: ':visible',
                                    orientation: 'landscape',
                                    pageSize: 'C2',
                                    text: '<i class="fa fa-file-pdf-o"> PDF</i>',

                                    footer: false
                                },
                                {
                                    extend: 'colvis',
                                    columnText: function (dt, idx, title) {
                                        return (idx + 1) + ': ' + title;
                                    },
                                    postfixButtons: ['colvisRestore']
                                },
                                {
                                    extend: 'pageLength', footer: false, exportOptions: {
                                        stripNewlines: false
                                    }
                                },
                            ],
                            iDisplayLength: 25,
                            lengthMenu: [[10, 25, 50, -1],
                            ['10', '25', '50', ' all']
                            ],
                            pagingType: "full_numbers",
                            deferRender: true,

                        });
                    } catch (e) { console.log(e); }

                    try {
                        $T2 = $('#non_added_procedures');
                        $T2.DataTable({
                            buttons: [
                                {
                                    extend: 'print',
                                    title: 'Report   ',
                                    //text: '<i class="fa fa-print"></i> Print',
                                    //title: $('h1').text(),
                                    exportOptions: {
                                        //columns: ':not(.no-print)'
                                        columns: ':visible', stripNewlines: true
                                    },

                                    orientation: 'landscape',
                                    pageSize: 'C2',
                                    footer: false
                                },
                                {
                                    extend: 'excelHtml5', title: 'Report', footer: true, exportOptions: {
                                        columns: ':visible', stripNewlines: false
                                    },
                                    orientation: 'landscape',
                                    pageSize: 'LEGAL',
                                },
                                {
                                    extend: 'pdfHtml5', title: 'Report',
                                    columns: ':visible',
                                    orientation: 'landscape',
                                    pageSize: 'C2',
                                    text: '<i class="fa fa-file-pdf-o"> PDF</i>',

                                    footer: false
                                },
                                {
                                    extend: 'colvis',
                                    columnText: function (dt, idx, title) {
                                        return (idx + 1) + ': ' + title;
                                    },
                                    postfixButtons: ['colvisRestore']
                                },
                                {
                                    extend: 'pageLength', footer: false, exportOptions: {
                                        stripNewlines: false
                                    }
                                },
                            ],
                            iDisplayLength: 25,
                            lengthMenu: [[10, 25, 50, -1],
                            ['10', '25', '50', ' all']
                            ],
                            pagingType: "full_numbers",
                            deferRender: true,

                        });
                    } catch (e) { console.log(e); }
                }, 350);
            });
        }

        $(document).ready(function () {

            //var dataURL = $('#dataURL').data('url');
            //$.getJSON(dataURL, function (data) {
            //    data = $.parseJSON(data.Result);
            //});
        });


    </script>
}



