﻿@using HyAdmin.Models
@model LoginViewModel
    
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Auth.cshtml";
}


<section class="login-block">
    <!-- Container-fluid starts -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- Authentication card start -->
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "md-float-material form-material m-t-40 m-b-40", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-center txt-primary">Sign In</h3>
                                </div>
                            </div>
                            <div class="row m-b-20 hide">
                                <div class="col-md-6">
                                    <button class="btn btn-facebook m-b-20 btn-block"><i class="fab fa-facebook-f"></i>facebook</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-twitter m-b-20 btn-block"><i class="fab fa-twitter"></i>twitter</button>
                                </div>
                            </div>
                            <p class="text-muted text-center p-b-5">Sign in with your regular account</p>
                            <div class="form-group form-primary">
                                <input type="text" name="Email" id="Email" class="form-control" value="" autocomplete="off" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Username</label>
                            </div>
                            <div class="form-group form-primary">
                                <input type="password" name="Password" id="Password" class="form-control" value="" autocomplete="off" required="">
                                <span class="form-bar"></span>
                                <label class="float-label">Password</label>
                            </div>
                            <div class="row m-t-25 text-left">
                                <div class="col-12">
                                    <div class="checkbox-fade fade-in-primary">
                                        <label>
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            <span class="cr"><i class="cr-icon fas fa-check txt-primary"></i></span>
                                            <span class="text-inverse">Remember me</span>
                                        </label>
                                    </div>
                                    <div class="forgot-phone text-right float-right">
                                        <a href="@Url.Action("ForgotPassword", "Account")" class="text-right f-w-600"> Forgot Password?</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">LOGIN&nbsp;<i class="fa fa-lock"></i></button>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <br />
                                </div>
                                <div class="col-md-6 text-right">
                                    <img src="~/Content/Images/logo.png" style="width: 100px;" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <!-- Authentication card end -->
            </div>
            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container-fluid -->

</section>

@section scripts {
    <script>
        $(function () {
            //var userid = getParameterByName('userid');
            //$('#Email').val(userid);
        });
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }
    </script>
}