﻿.plan-item {
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.14);
    text-align: center;
    border: solid 2px transparent;

    color: rgb(74, 74, 59);
    font-family: National2, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style-position: outside;
    list-style-type: none;
    min-height: 295px;
    transition: border 0.5s ease-out;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-property: border;
    transition-timing-function: ease-out;
    -webkit-transition: border 0.5s ease-out;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 8px 0px;
}
.plan-item-active {
    border: 2px solid rgb(0, 191, 111);
}
.plan-item:hover {
    border: 2px solid rgb(0, 191, 111);
}
.att-item {
    line-height: 35px;
    font-size: 12px;
}
.att-item::before {
    content: " • ";
    color: #9DA5AA;
}
.plan-container {
    width: 290px;
    margin: 0px auto;
}
.plan-name {
    color: rgb(51, 62, 72);
    font-family: National2, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    padding-top: 36px;
    text-align: center;
}

.pricing {
    color: rgb(74, 74, 74);
    font-family: National2, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 34px;
    list-style-position: outside;
    list-style-type: none;
    text-align: center;
}

.pricing span {
    font-weight: 700;
}

.action-button, .attribute-listing {
    margin-top: 40px;
    padding: 5px 20px;
}
.attribute-listing {
    margin-top: 10px;
}
.attribute-listing {
    margin-top: 10px;
}