﻿
@{
    ViewBag.Title = "FAQs";
    Layout = "~/Views/Shared/_Semi.cshtml";
}

<!-- [ breadcrumb ] start -->
<div class="page-header intro" data-intro="<strong>Welcome</strong>. <br />This is a guided tour of this app. Click '<strong>Next</strong>' to continue" data-step="1" data-hint="Hello step 1!">

    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h4 class="m-b-10 page-title">User Guide / FAQs</h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#!">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Frequently Asked Questions</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- [ breadcrumb ] end -->

<style>
    .pull-right {
        float: right !important;
    }

    .inline-block {
        display: inline-block;
    }

    .no-border tr td {
        border: 0;
    }

    .empty-notification {
        padding: 42px;
        font-weight: lighter;
        font-size: 34px;
    }

    .card .card-block .dropdown-menu > a {
        padding: 4px 7px;
        line-height: 1.429;
    }

    .link-text {
        cursor: pointer;
        font-weight: 600;
        font-size: 12px;
    }

    #category_data tr td {
        padding-bottom: 11px !important;
    }

    .btn-sm {
        padding: 9px;
    }

    .ellipsis {
        display: none !important;
    }

    tr.active {
        box-shadow: 2px 2px 7px 1px #CCC;
        background: forestgreen !important;
        color: #FFF;
    }

        tr.active td a {
            color: #FFF !important;
        }

    table.b-c-b tr td, table.b-c-b tr th {
        border-color: #00bcd4;
        border-width: 2px;
    }

    .distinct {
        color: coral;
        font-weight: 700;
    }

    .golden_rule {
        border-left: 5px solid #4fc3f7;
        padding-left: 10px;
        padding-right: 10px;
        border-right: 5px solid #4fc3f7;
        font-size: 12px;
        font-weight: bold;
        justify-content: center;
    }

    .dataTables_wrapper {
        overflow-x: auto;
    }

    table.table {
        width: 100% !important;
    }
</style>
<style>
    .bordered-image{
        border: 1px solid #CCC;
    }
</style>
<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->

            <div class="page-body">
                <div class="card table-card" style="border: 1px solid #CCC;">
                    <div class="card-header" style="border-bottom: 1px solid #CCC;background: whitesmoke;padding: 15px;">
                        <h5>Member Check In</h5>
                    </div>
                    <div class="card-block" style="padding: 15px;">
                        <div class="gl">
                            1. Click on <img class="bordered-image" src="~/Content/Guide/1.png" /> from the menu
                        </div>

                        <div class="m-t-10">
                            2. Type enrollee number or name here <img class="bordered-image" src="~/Content/Guide/2.png" /> to search
                        </div>

                        <div class="m-t-10">
                            3. Click the view button in the image <img class="bordered-image" src="~/Content/Guide/3.png" /> to view enrollee profile
                        </div>

                        <div class="m-t-10">
                            4. Click the 'Yes, Check In' button in the image <img style="width: 250px" class="bordered-image" src="~/Content/Guide/4.png" /> to check enrollee in.
                        </div>
                    </div>
                    <br />
                </div>
                    
                <div class="modal fade" id="request-details-modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">PA Request Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <img src="~/Content/Images/loading-balls.svg" class="pa-request-details-loading hide" style="width: 40px;position:absolute;right: 12px;top: 12px;" />
                            </div>
                            <div class="modal-body">

                                <p class="m-b-0">
                                    <div class="row">
                                        <div class="col-sm-12" id="pa-request-details-cont">

                                        </div>
                                    </div>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-outline-secondary waves-effect " data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md-overlay"></div>
            </div>
        </div>
    </div>
</div>
@section scripts {
<script>
    $(document).ready(function () {
        $('nav.pcoded-navbar').remove();
        $('ul.nav-left').remove();
    });
</script>
    }